.middleNavbar {
  margin: 0.75rem auto 1rem auto;
  padding: 0 1rem;
  max-width: 992px;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease-in;
}

.middleNavbarOn {
  opacity: 1;
}

.middleNavbar ul {
  margin: 0;
  padding: 0;
}

.middleNavbar li {
  display: inline-block;
  list-style: none;
}

.navLink {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.35rem 0.2rem;
  width: 3.5rem;
  background-color: var(--onyx);
  color: var(--powder);
  font-size: 0.85rem;
  text-decoration: none;
  text-align: center;
  border: none;
  transition: all 0.5s ease;
}

.navLink:hover {
  opacity: 0.95;
  box-shadow: 0 0 0.5rem 0.25rem silver;
}

@media screen and (min-width: 420px) {
  .navLink {
    padding: 0.35rem 0.35rem;
    width: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .middleNavbar {
    text-align: left;
  }
}
